
<div class="property-main-photo" style="background-image:url('<%= property_photo_url @property %>')">
 <div class="photo-overlay">
 </div>
</div>


<div class="container ">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
          <div class="col-sm-6">
            <p class="mb-0"><%= @property.address %></p>
            <p class="h2">
              <% if @property.for_sale? %>
                <%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Sale" %>
              <% else %>
                <%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Rent" %> / month
            </p>
          </div>
          <div class="col-md-6 text-center bg-light p-3">
            <div class="row mr-md-3">
              <div class="col-4">
                <p class="m-0"><strong>Rooms</strong></p>
                <span class="lead"><%= @property.rooms %></span>
              </div>
              <div class="col-4">
                <p class="m-0"><strong>Bedrooms</strong></p>
                <span class="lead"><%= @property.bathrooms %></span>
              </div>
              <div class="col-4">
                <p class="m-0"><strong>Parking</strong></p>
                <span class="lead"><%= @property.parking_spaces%></span>
              </div>
          </div>
          </div>
    <div class="row border-top border-bottom mt-5 mb-4 pt-4 pb-4">
      <div class="col-6">
        <strong class="text-success">Est. Monthly Repayments<%= number_to_currency((@property.price / 360), precision: 0)%></strong>
      </div>
      <div class="col-6">
        <strong><%= link_to "Can I afford this property?", "#", class: "text-success"%></strong>
      </div>
    </div>
    </div>
      <div class="row">
          <div class="col">

                <p class="h3"><%= @property.name %></p>

                <p class="h5">Property Description</p>

                <div id="prop-details">
                  <%= simple_format @property.details %>
                </div>

                <button class="btn btn-outline-info mt-3" id="toggleDetails">Show More</button>

                <p class="mt-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
       </div>
     </div>
    </div>
  <div class="col-md-4">
    <%= render "properties/agent_details" %>
  </div>

         <section class="mt-5 mb-5">
           <div class="container">
             <div class="row">
                 <%= render "properties/list", properties: @agent_properties %>
             </div>
           </div>
         </section>

        <%= link_to 'Edit', edit_property_path(@property) %> |
        <%= link_to 'Back', properties_path %>

  </div>
</div>
